@model IEnumerable<Final_Project_Web_Application.Models.Book>

@{
    ViewData["Title"] = "Search Results for " + TempData["SearchQuery"];
}

<h1><center>Search results for @TempData["SearchQuery"] ...</center></h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <center>Cover</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Title)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Description)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Author)</center>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="book_cover" src="@item.CoverURL">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .book_cover {
        height: 300px;
        width: 200px;
    }
</style>