@model IEnumerable<Final_Project_Web_Application.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>


<p>
    <a name="AdminPanelCreateNewBTN" asp-action="AddBook">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <center>@Html.DisplayNameFor(model => model.Title)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Description)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Author)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.CoverURL)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Genre)</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Status)</center>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a name="@item.Title BTN" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="list-group">
    <a href="/AdminPanel/#" class="list-group-item active">
        Books
    </a>
    <a href="/AdminPanel/#" class="list-group-item">
        Users
    </a>
    <a href="/AdminPanel/#" class="list-group-item">
        Borrowed Books
    </a>
</div>

<style>
    .table th {
        border: 1px solid hsla(0, 0%, 100%, 0.1);
    }
    .table td{
        border: 1px solid hsla(0, 0%, 100%, 0.1);
    }

    .table{
        width: 70%;
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        float: right;
        right: 65px;
        position: relative;
    }

    .list-group{
        width: 20%;
    }
</style>