@model IEnumerable<Final_Project_Web_Application.Models.Forum>

@{
    ViewData["Title"] = "Forums";
}

<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="nav-link" asp-area="" asp-route-id="@item.Name" asp-controller="Forum" asp-action="Forum">
                    @Html.DisplayFor(modelItem => item.Name)
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </a>
            </td>
            <td>
                <a class="nav-link" asp-area="" asp-route-id="@item.Name" asp-controller="Forum" asp-action="Forum">
                    <p>Number Of Threads</p>
                    <p>Number Of Posts</p>
                </a>
            </td>
            <td>
                <a class="nav-link" asp-area="" asp-route-id="@item.Name" asp-controller="Forum" asp-action="Index">
                    <p>Latest Thread / Latest Thread Reply</p>
                    <p>by Username</p>
                    <p>DateTime</p>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
