@using Final_Project_Web_Application.Data;
@model IEnumerable<Final_Project_Web_Application.Models.Forum>
@{
    ViewData["Title"] = "Forums";
    var DBContext = ViewBag.Context as ApplicationDBContext;
}

@{
    if(TempData["IsThreads"] == "No")
    {
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a name="@item.Name BTN" class="nav-link" asp-area="" asp-route-Name="@item.Name" asp-controller="Forum" asp-action="Index">
                                @Html.DisplayFor(modelItem => item.Name)
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            </a>
                        </td>
                        <td>
                            <a name="@item.Name BTN"  class="nav-link" asp-area="" asp-route-Name="@item.Name" asp-controller="Forum" asp-action="Index">
                                @{
                                    int ThreadNum = 0;
                                    int PostsNum = 0;

                                    foreach (Thread SelectedThread in DBContext.Threads)
                                    {
                                        if (SelectedThread.ForumID == item.ID)
                                        {
                                            ThreadNum++;
                                            /*
                                            foreach (Post SelectedPost in DBContext.Posts)
                                            {
                                                // Check to see if the Posts ThreadID is Equal to the SelectedThread ID.
                                            }
                                            */
                                        }
                                    }

                                    <p>@ThreadNum Threads</p>
                                    <p>@PostsNum Posts</p>
                                }
                            </a>
                        </td>
                        <td>
                            <a name="@item.Name BTN" class="nav-link" asp-area="" asp-route-Name="@item.Name" asp-controller="Forum" asp-action="Index">
                                Latest Thread / Latest Thread Reply <br />
                                by Username<br />
                                DateTime
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        if (ViewBag.Model.Count > 0)
        {
            <p>
                <a asp-action="NewThread">Create New</a>
            </p>
            <table class="table">
                <tbody>
                    @foreach (var item in ViewBag.Model)
                    {
                        <tr>
                            <td>
                                <a class="nav-link" asp-area="" asp-route-ID="@item.ID" asp-controller="Forum" asp-action="Thread">
                                    @item.Name
                                </a>
                            </td>
                            <td>
                                <a class="nav-link" asp-area="" asp-route-ID="@item.ID" asp-controller="Forum" asp-action="Thread">
                                    @item.CreationDate
                                </a>
                            </td>
                        </tr> 
                    }
                </tbody>
            </table>
        }
        else
        {
            <center><h1>There are currently no threads within this forum, please check back later.</h1></center>
        }
    }
}

<style>
    td
    {
        max-width: 750px;
    }

    .dark-mode .nav-link
    {
        color: #b06ceb;
    }

    .nav-link {
        color: #f2d575;
    }

    .table > tbody
    {
        vertical-align: middle;
    }

    .dark-mode tr {
        background-color: #2f2f2f;
        border-color: hsl(0deg, 0%, 100%, 0.25);
    }

    tr {
        background-color: #6c7c89;
        border-color: hsl(0deg, 0%, 100%, 0.25);
    }

</style>
