@using Final_Project_Web_Application.Data;
@model IEnumerable<Final_Project_Web_Application.Models.Forum>
@{
    ViewData["Title"] = "Forums";
    var DBContext = ViewBag.Context as ApplicationDBContext;
}

<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="nav-link" asp-area="" asp-route-id="@item.Name" asp-controller="Forum" asp-action="Forum">
                    @Html.DisplayFor(modelItem => item.Name)
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </a>
            </td>
            <td>
                <a class="nav-link" asp-area="" asp-route-id="@item.Name" asp-controller="Forum" asp-action="Forum">
                    @{
                        int ThreadNum = 0;
                        int PostsNum = 0;

                        foreach(Thread SelectedThread in DBContext.Threads)
                        {
                            if(SelectedThread.ForumID == item.ID)
                            {
                                ThreadNum++;

                                foreach(Post SelectedPost in DBContext.Posts)
                                {
                                    // Check to see if the Posts ThreadID is Equal to the SelectedThread ID.
                                }
                            }
                        }

                        <p>@ThreadNum Threads</p>
                        <p>@PostsNum Threads</p>
                    }
                </a>
            </td>
            <td>
                <a class="nav-link" asp-area="" asp-route-id="@item.Name" asp-controller="Forum" asp-action="Index">
                    <p>Latest Thread / Latest Thread Reply</p>
                    <p>by Username</p>
                    <p>DateTime</p>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
